<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Rateer | About Us</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href = "{% static 'files/Styles.css' %}" type = "text/css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"
 integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
 integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
 crossorigin="anonymous"></script>


	<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class = "container">
		<div class="navbar-header">

			<button type = "button" class= "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#bs-example-navbar-collapse-1" aria-expanded= "false">

			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>

			</button>
			<a href="/home/" class="navbar-brand">Rateer</a>
		</div>

		<div class="collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/home/signin/">Sign In</a></li>
				<li><a href="/home/signup/">Sign Up</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/home/contactus/">Contact</a></li>
				<li><a href="/home/about/">About Us</a></li>
			</ul>
		</div>
	</div>
</nav>
</head>
<body>

</br>
</br>
</br>

<div class="container">
		<div class="jumbotron">
		  <h1 class="display-4">About Rateer</h1>
		</div>

	
<div class="row">

  <div class="col-md-6">

        <div class="jumbotron text-center" >
			<img class = "avatar" src="{% static 'images/about1.jpg' %}" alt="About Image"></img>
			<h3 class="font-weight-bold"><b>Team</b></h3>
			  <div class="container">
				<p>Lorem ipsum dolor sit amet. 
				Sit sapiente inventore est cupiditate quia ut molestiae repellat nam reprehenderit 
				dolor ex fugiat voluptatem vel eius officiis ad nisi accusantium. Ut nulla voluptates 
				ut consequatur velit sit galisum laboriosam cum voluptatem sint qui tempore maxime. 
				A possimus tenetur et quia tenetur eos earum sunt est molestiae libero 33 recusandae quidem.
				</p>
			</div>
        </div>

  </div>
  
  <div class="col-md-6">
        <div class="jumbotron text-center" >
			<h3 class="font-weight-bold"><b>Goals</b></h3>
			  <div class="container">
				<p>Lorem ipsum dolor sit amet. 
				Sit sapiente inventore est cupiditate quia ut molestiae repellat nam reprehenderit 
				dolor ex fugiat voluptatem vel eius officiis ad nisi accusantium. Ut nulla voluptates 
				ut consequatur velit sit galisum laboriosam cum voluptatem sint qui tempore maxime. 
				A possimus tenetur et quia tenetur eos earum sunt est molestiae libero 33 recusandae quidem.
				</p>
				<img class = "avatar" src="{% static 'images/about2.jpg' %}" alt="About Image"></img>
			</div>
        </div>

  </div>

</div>

<div class="row">

  <div class="col-md-12">
        <div class="jumbotron text-center" >
			<img class = "avatar" src="{% static 'images/about3.jpg' %}" alt="About Image"></img>
			<h3 class="font-weight-bold"><b>Careers</b></h3>
			  <div class="container">
				<p>Lorem ipsum dolor sit amet. 
				Sit sapiente inventore est cupiditate quia ut molestiae repellat nam reprehenderit 
				dolor ex fugiat voluptatem vel eius officiis ad nisi accusantium. Ut nulla voluptates 
				ut consequatur velit sit galisum laboriosam cum voluptatem sint qui tempore maxime. 
				A possimus tenetur et quia tenetur eos earum sunt est molestiae libero 33 recusandae quidem.
				</p>
			</div>
        </div>

  </div>

</div>

</div>




</body>
</html>