<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Rateer</title>
{% block metacontent %}

{% endblock metacontent %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'images/logo.png' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href = "{% static 'files/Styles.css' %}" type = "text/css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"
 integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
 crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
 integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
 crossorigin="anonymous"></script>
<script src="{% static 'files/Script.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class = "container">
		<div class="navbar-header">

			<button type = "button" class= "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#bs-example-navbar-collapse-1" aria-expanded= "false">

			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>

			</button>
			<a href="#" class="navbar-brand">Rateer</a>
		</div>

		<div class="collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/dashboard/">Dashboard</a></li>
				<li><a href="/friends/">Friends</a></li>
				{% if ms %}
					<li><a href="/messenger/"><strong>Messenger*</strong></a></li>
				{% else %}
					<li><a href="/messenger/">Messenger</a></li>
				{% endif %}


				<li><a href="/friends/search/">Find Friends</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if fr %}
				<li><a href="/friends/requests/"><strong>Friend Requests*</strong></a></li>
				{% else %}
					<li><a href="/friends/requests/">Friend Requests</a></li>
				{% endif %}

				<li><a href="/posts/">Posts</a></li>
				{% if nf %}
				<li><a href="/newsfeed/"><strong>News Feed*</strong></a></li>
				{% else %}
					<li><a href="/newsfeed/">News Feed</a></li>
				{% endif %}
				<li><a href="/home/settings/">Settings</a></li>
				<li><a href="{% url 'Dashboard:LogoutView' %}">logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<br>
<br>
<br>
</head>
<body>
{% block content %}

{% endblock content %}
</body>
</html>