{% extends 'Base.html' %}
{% block metacontent %}
{% endblock metacontent %}


{% block content %}
<div class="container">

<div class="chatboxx" id="ChatBoX" style="overflow-y: scroll; height:550px;">
		{% if messages %}
			{% for message in messages %}
				{% if message.Sender == person.ThisUser %}
					<div class="messageContainer darker">
					  <img src="{{ person.ProfilePicture.url }}" alt="Avatar" class="right">
					  <p>{{ message.Message }}</p>
					  <span class="time-left">{{ message.Time.day }}/{{ message.Time.month }}/{{ message.Time.year }} {{ message.Time.hour }}:{{ message.Time.minute }}:{{ message.Time.second }}</span>
					</div>
				{% else %}
					<div class="messageContainer">
					  <img src="{{ person2.ProfilePicture.url }}" alt="Avatar">
					  <p>{{ message.Message }}</p>
					  <span class="time-right">{{ message.Time.day }}/{{ message.Time.month }}/{{ message.Time.year }} {{ message.Time.hour }}:{{ message.Time.minute }}:{{ message.Time.second }}</span>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}


	</div>
</div>


<div class="container">
	<br>
		<form id="messageForm">
			{% csrf_token %}
			<input type="text" class="form-control" name="message" id="MESSAGE" placeholder="Enter Message"/>
			<br>
			<button id="sendBTN" type="submit" class="btn btn-primary">Send</button>
		</form>
</div>


<br><br>

<script>
function checkNewMessages(){
	var lastMessageTime = $('#ChatBoX').children().last().children().last().text();
	var serializedData = $(this).serialize() + "&first=" + "{{ person.ThisUser.username }}" + "&second=" + "{{ person2.ThisUser.username }}"
		 + "&lastTime=" + lastMessageTime;

	$.ajax({
            type: 'POST',
            url: "/messenger/chat/checkNewMessages/",
            data: serializedData,
            success: function (response) {
            	if(response == "Nothing"){

            	} else {
				$('#ChatBoX').append(response);
				var objDiv = document.getElementById("ChatBoX");
				objDiv.scrollTop = objDiv.scrollHeight;
				}
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
	setTimeout(checkNewMessages, 5000);
}
window.onload=function () {
     var objDiv = document.getElementById("ChatBoX");
     objDiv.scrollTop = objDiv.scrollHeight;
	 checkNewMessages();
}
</script>

<script>
  $("#messageForm").submit(function (e) {
        e.preventDefault();

		var st1 = $('#MESSAGE').val();
		if (st1 != ""){

		var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		var dt = new Date();
		var str = dt.getDate() + "/" + (dt.getMonth()+1)+ "/" + dt.getFullYear()+"-"+dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        var serializedData = $(this).serialize() + "&sender=" + "{{ person.ThisUser.username }}" + "&receiver=" + "{{ person2.ThisUser.username }}";
        $.ajax({
            type: 'POST',
            url: "/messenger/chat/messageCommit/",
            data: serializedData,
            success: function (response) {

			$('#ChatBoX').append('<div class="messageContainer darker"></div>');
			$('#ChatBoX').children().last().append('<img src="{{ person.ProfilePicture.url }}" alt="Avatar" class="right">');
			$('#ChatBoX').children().last().append('<p></p>');
			$('#ChatBoX').children().last().children().last().html(st1);
			$('#ChatBoX').children().last().append('<span class="time-left"></span>');
			var strTemp = str.replace("-", " ");
			$('#ChatBoX').children().last().children().last().html(strTemp);
			var objDiv = document.getElementById("ChatBoX");
			objDiv.scrollTop = objDiv.scrollHeight;
			$('#MESSAGE').val("");
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
        }
		else {
			alert("Can not send an Empty Message!");
		}
    })
</script>


{% endblock content %}


