{% extends 'Base.html' %}
{% block content %}

<div class="container">
	<!------------------------------------------------------->
	<div class="col-md-12">
	<div style="" class="jumbotron text-center">
		<h1><b>{{ person_name }}</b>'s Friend Requests</h1>
		<h3> Requests: <b>{{ number }}</b></h3>
	</div>
	</div>
	<br>
<div class="row">
	{% if requests %}
	{% for obj in requests %}
<div class="col-md-4">
    <div class="col-md-12">
		<div class="jumbotron text-center">
			<h3><b>{{ obj.Sender.username }}</b></h3>
			<div class="dropdown">
			  <button class="btn btn-primary">Options</button>
			  <div class="dropdown-content">
				<a href="/friends/accept/{{ obj.Sender.username }}">Accept</a>

				<a href="/friends/reject/{{ obj.Sender.username }}">Reject</a>

				<a href="/messenger/chat/{{ obj.Sender.username }}">Chat</a>

				  <a href="/friends/{{ obj.Sender.username }}/">View Profile</a>
			  </div>
			</div>


		</div>
	</div>
</div>
	{% endfor %}
	{% endif %}
</div>
</div>

{% endblock content %}