{% extends 'Base.html' %}
{% block content %}

<div class="container">
	<!------------------------------------------------------->
	<div class="col-md-12">
	<div style="" class="jumbotron text-center">
		<h1><b>{{ person_name }}</b>'s Friends</h1>
		<h3> Friends: <b>{{ no_of_friends }}</b></h3>
		{% if unfriended %}
		<h3> {{ unfriended }} removed from friend's list! </h3>
		{% endif %}
	</div>
	</div>
	<br>
<div class="row">
	{% if friends_list %}
	{% for obj in friends_list %}
<div class="col-md-4">
    <div class="col-md-12">
		<div class="jumbotron text-center">
			<h3><b>{{ obj.ThisUser.username }}</b></h3>
			<img class = "MediumAvatar" src="{{ obj.ProfilePicture.url }}" alt="Post Content"/>
			<br><br>
			<div class="dropdown">
			  <button class="btn btn-primary">Options</button>
			  <div class="dropdown-content">
				<a href="/friends/{{ obj.ThisUser.username }}/">View Profile</a>
				<a href="/messenger/chat/{{ obj.ThisUser.username }}">Chat</a>
				<a href="/friends/unfriend/{{ obj.ThisUser.username }}/">Unfriend</a>
			  </div>
			</div>


		</div>
	</div>
</div>
	{% endfor %}
	{% endif %}
</div>
</div>

{% endblock content %}