{% extends 'Base.html' %}

{% block content %}
<div class="container">
<div class="col-md-12">
	<div class="jumbotron">
	  <img class = "avatar" id="myImg" src="{{ person_pic }}" >
		<div id="myModal" class="modal">
		  <span class="close">&times;</span>
		  <img class="modal-content" id="img01">
		  <div id="caption"></div>
		</div>
	  <h1 class="display-4 ">{{ person_name }}</h1>
	  <h5 class="display-4 ">{{ person_status }}</h5>
	  <div class="container">
		<div class="table-responsive">          
			<table class="table">
				<thead>
					<tr>
						<th>Rating</th>
						<th>Email</th>
						<th>Age</th>
						<th>Address</th>
						<th>Phone</th>
						<th>Profession</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ person_rate }} / 5.0</td>
						{% if privacy.Email == True %}
							<td>{{ person_email }}</td>
						{% else %}
							<td>Hidden</td>
						{% endif %}
						{% if privacy.Age %}
							<td>{{ person_age }}</td>
						{% else %}
							<td>Hidden</td>
						{% endif %}
						{% if privacy.Address == True %}
							<td>{{ person_addr }}</td>
						{% else %}
							<td>Hidden</td>
						{% endif %}
						{% if privacy.Phone == True %}
							<td>{{ person_num }}</td>
						{% else %}
							<td>Hidden</td>
						{% endif %}
						{% if privacy.Profession == True %}
							<td>{{ person_prof }}</td>
						{% else %}
							<td>Hidden</td>
						{% endif %}
					</tr>		
				</tbody>
			</table>
		</div>
		  <div class="dropdown">
			  <button class="btn btn-primary btn-sm">Rate</button>
			  <div class="dropdown-content">
				<a href="/friends/rate/{{ person_name }}/1/">1</a>
				<a href="/friends/rate/{{ person_name }}/2/">2</a>
				<a href="/friends/rate/{{ person_name }}/3/">3</a>
				  <a href="/friends/rate/{{ person_name }}/4/">4</a>
				<a href="/friends/rate/{{ person_name }}/5/">5</a>
			  </div>
			</div>
		  {% if friend == 0 %}
		  	<a class="btn btn-success btn-sm" href="/friends/friendrequest/{{ person_name }}/" type="button">Friend Request</a>
		  {% endif %}
		  {% if friend == 1 %}
		  	<a class="btn btn-danger btn-sm" href="/friends/unfriend/{{ person_name }}/" type="button">Unfriend</a>
		  {% endif %}
		  {% if friend == 2 %}
		  	<a class="btn btn-primary btn-sm" onclick=""  type="button">Friend Request Sent</a>
		  {% endif %}
		  {% if friend == 3 %}
		  	<a class="btn btn-success btn-sm" href="/friends/accept/{{ person_name }}" type="button">Accept Request</a>
		  	<a class="btn btn-danger btn-sm" href="/friends/reject/{{ person_name }}" type="button">Reject Request</a>
		  {% endif %}
	</div>
	</div>
	</div>
<div class="row">
	{% if hobbies %}
  <div class="col-md-4">
     <div class="col-md-12">
        <div class="jumbotron text-center">
			<h3><b>Hobbies</b></h3>
			<div class="container">
		<div class="table-responsive">          
			<table class="table">
				<thead>
					
				</thead>
				<tbody>
				{% if privacy.Hobbies %}
					{% for hobby in hobbies %}
						<tr>
							<td >{{ hobby.Hobby }}</td>
						</tr>
					{% endfor %}
				{% else %}
				<tr>
					<td>Hidden</td>
				</tr>
				{% endif %}

				</tbody>
			</table>
		</div>
	</div>
		</div>
     </div>
  </div>
	{% endif %}
	{% if educations %}
  <div class="col-md-8">
     <div class="col-md-12">
        <div class="jumbotron text-center" >
			<h3 class="font-weight-bold"><b>Education</b></h3>
			  <div class="container">
		<div class="table-responsive leftAlign">          
			<table class="table text-center">
				{% if privacy.Educations %}
					<thead>
						<tr>
							<th>Degree</th>
							<th>Institute</th>
							<th>From</th>
							<th>Till</th>
						</tr>
					</thead>
					<tbody>

							{% for edu in educations %}
							<tr>
								<td>{{ edu.Degree }}</td>
								<td>{{ edu.Institute }}</td>
								<td>{{ edu.From }}</td>
								<td>{{ edu.Till }}</td>
							</tr>
							{% endfor %}

					</tbody>
				{% else %}
					<td>Hidden</td>
				{% endif %}
			</table>
		</div>
	</div>
        </div>
     </div>
  </div>
	{% endif %}
</div>
</div>
<script>
var modal = document.getElementById("myModal");
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}
var span = document.getElementsByClassName("close")[0];
span.onclick = function() { 
  modal.style.display = "none";
}
</script>

{% endblock content %}



