{% extends 'Base.html' %}

{% block content %}


<div class="container">
<div class="jumbotron col-md-12">

	<h1><b>{{ person_name }}</b>'s Posts</h1>

</div>
<div class="jumbotron text-center col-md-12">

	<form method="POST" enctype="multipart/form-data" action="/posts/upload/">
		{% csrf_token %}


	  <div class="form-group">
		<label>Caption</label>
		<input type="text" name="caption" value="" class="form-control">
	  </div>
		<div class="form-group">
			<input type="file" id="files" name="contentpost" style="display:none;"/>
			<h2><label for="files">Select a file</label></h2>
	  	</div>
	  <button type="submit" class="btn btn-primary">Post</button>
	</form>
</div>
</div>
<br>
<!------------------------------------------------------->
{% if posts %}
{% for post in posts %}
<div class="container">
<div class="jumbotron col-md-12">
	<div class="col-md-7">
		<h3><b>{{ post.Poster.username }}</b>&nbsp{{ post.Event }}</h3>
		<small>{{ post.Time }}</small>
		<h4>{{ post.Caption }}</h4>
		<br><br>
	</div>

	<div class="col-md-5">
		<div class="container">
			{% for like in likes %}
				{% if forloop.counter == forloop.parentloop.counter %}
					{% for comment in comments %}
						{% if forloop.counter == forloop.parentloop.counter %}
							{% for content in contents %}
								{% if forloop.counter == forloop.parentloop.counter %}
									<img class = "PostContainer" src="{{ content }}" alt="Post Content"/>
									<h3><a type="text" href="#collapseLikes{{post.PostId}}"
										   id="{{ post.PostId }}-l" class="btn btn-info" data-toggle="collapse">{{ like }} Likes</a>
										<a type="text" href="#collapseComments{{post.PostId}}"
										   class="btn btn-info" id="{{ post.PostId }}-c" data-toggle="collapse">{{ comment }} Comments</a></h3>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
			<br>
		</div>
	</div>
	<hr>

			<form method="POST" class="likeForm">
				{% csrf_token %}
				<div class="col-md-2 col-sm-2 col-xs-2 form-group text-center">
						{% if post.PostId in LikedPosts %}
							<button class="btn btn-danger btn-sm" style = "display:inline;" type="submit" name="post_id" value="{{ post.PostId }}">DisLike</button>
						{% else %}
							<button class="btn btn-success btn-sm" style = "display:inline;" type="submit" name="post_id" value="{{ post.PostId }}">Like</button>
						{% endif %}
				</div>
			</form>

			<form method="POST" class="CommentForm">
				{% csrf_token %}
				<div class="col-md-6 col-sm-5 col-xs-5 form-group text-center">
					<input style = "display:inline;" type="text" placeholder="Write a comment" class="form-control input-sm col-md-9 col-sm-9 col-xs-9" id="CommentBox">
					<button hidden id="post_id" value="{{ post.PostId }}"></button>
				</div>
			</form>

			<form method="POST" class="ShareForm">
				{% csrf_token %}
				<div class="col-md-2 col-sm-2 col-xs-2 form-group text-center">
					<button class="btn btn-primary btn-sm" style = "display:inline;" type="submit" name="post_id" value="{{ post.PostId }}">Share</button>
		  		</div>
			</form>

			<form method="POST" class="DeleteForm" action="/posts/delete/{{ post.PostId }}/">
				{% csrf_token %}
				<div class="col-md-2 col-sm-3 col-xs-3 form-group text-center">
					<button class="btn btn-danger btn-sm" style = "display:inline;" type="submit" name="post_id" value="{{ post.PostId }}">Delete</button>
		  		</div>
			</form>
<br><br>
	<div class="LCollapse-{{ post.PostId }}">
	<div class="collapse overflow-auto" id="collapseLikes{{ post.PostId }}">
		{% for Likess in Likes %}
		{% if Likess.LikedPostId.PostId == post.PostId %}
		<div id="{{ Likess.LikerPid.username }}-{{ post.PostId }}">
			<h5>{{ Likess.LikerPid.username }}</h5>

		</div>
		{% endif %}
		{% endfor %}
	<hr>
	</div>
	</div>

	<div class="CCollapse-{{ post.PostId }}">
    	<div class="collapse" id="collapseComments{{ post.PostId }}">
		{% for Commentss in Comments %}
		{% if Commentss.LikedPostId.PostId == post.PostId %}
			<h5><b>{{ Commentss.LikerPid.username }}</b>&nbsp{{ Commentss.Comment }}</h5>
			<h5>{{ Commentss.Time }}</h5>
		{% endif %}
		{% endfor %}
		<hr>
		</div>
	</div>


	</div>


</div>

{% endfor %}

{% endif %}

<script>
  $(".likeForm").submit(function (e) {
        e.preventDefault();
        var a = $(this[name='post_id']).val();
        var current = $(this[name='post_id']).text();

        var serializedData = $(this).serialize() + "&liker=" + "{{ person_name }}" + "&post_id=" + a;
        $.ajax({
            type: 'POST',
            url: "/posts/like/",
            data: serializedData,
            success: function (response) {

            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })

        if (current == 'Like') {
        	$(this[name='post_id']).text('DisLike');
        	$(this[name='post_id']).removeClass('btn-success');
        	$(this[name='post_id']).addClass('btn-danger');
        	var idd = $(this[name='post_id']).val();
        	var l = parseInt($("#"+idd+"-l").text());
        	l = l+1;
        	$("#"+idd+"-l").text(l+" Likes");

			var st = "LCollapse-" + idd;
        	$("."+st).children().first().prepend("<div id=" + '{{ person_name }}-'+idd+"><h5>{{ person_name }}</h5></div>");

        }
        else if (current == 'DisLike') {
        	$(this[name='post_id']).text('Like');
        	$(this[name='post_id']).addClass('btn-success');
        	$(this[name='post_id']).removeClass('btn-danger');
			var idd = $(this[name='post_id']).val();
        	var l = parseInt($("#"+idd+"-l").text());
        	l = l-1;
        	$("#"+idd+"-l").text(l+" Likes");
			var st = "{{ person_name }}-" + idd;
			var obj = $("#"+st);

        	$("#"+st).remove();
        }
    })
</script>
<script>
  $(".CommentForm").submit(function (e) {
        e.preventDefault();

        var a = $(this[id='post_id']).val();
        var comment = $(this[id='CommentBox']).val();
		if (comment!=""){
			var serializedData = $(this).serialize() + "&comment=" + comment + "&post_id=" + a;
        $.ajax({
            type: 'POST',
            url: "/posts/comment/",
            data: serializedData,
            success: function (response) {
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
        $(this[id='CommentBox']).val("");

        var idd = $(this[name='post_id']).val();
        var l = parseInt($("#"+idd+"-c").text());
       	l = l+1;
       	$("#"+idd+"-c").text(l+" Comments");

       	var st = "CCollapse-" + idd;
       	var dt = new Date();
       	var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
		var dt = new Date();
		var str = months[dt.getMonth()] + " " + dt.getDate() + ", " + dt.getFullYear() + ", " + dt.getHours() + ":" + dt.getMinutes();
        $("."+st).children().first().prepend("<h5><b>{{ person_name }}</b>&nbsp" + comment + "</h5><h5>"+str+"</h5>");
		}
		else {
			alert("Empty Comment!");
		}
    })
</script>
<script>
  $(".ShareForm").submit(function (e) {
        e.preventDefault();

        var a = $(this[id='post_id']).val();

        var serializedData = $(this).serialize() + "&post_id=" + a;
        $.ajax({
            type: 'POST',
            url: "/posts/share/",
            data: serializedData,
            success: function (response) {
            	alert("Shared Successfully!");
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    })
</script>



{% endblock content %}



